@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');ˇ
* {
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
  } 

body{
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
}
.container {
    width: 100%;
}
.vertical-center{
}
.banner {
    position: absolute;
    background-color: hsl(244, 38%, 16%);
    height: 300px;
    width: 800px;
    color: aliceblue;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 16px;
}
.right-img img {
    position: absolute;
    top: 0px;
    right: 0;
    width: auto;
    height: 100%;
    float: right;
    border-radius: 0 16px 16px 0;
}
.left-text {
    font-family: 'Inter', sans-serif;
    position: absolute;
    width: 48%;
    margin: 41px 0px 0px 50px;
}
.layer {
    background-color: rgb(70 21 87 / 70%);
    position: absolute;
    top: 0;
    right: 0;
    width: 363.23px;
    height: 100%;
    border-radius: 0 16px 16px 0;
}